##############################################################################
# Stage Template
##############################################################################
include $(END_GUARD)
##############################################################################
# vim: set syntax=make:
