##############################################################################
# End Project Template
##############################################################################
$(end_guard)
##############################################################################
# vim: set syntax=make:
