##############################################################################
# Project Template
##############################################################################

INCLUDING_MAKEFILE	:=$(lastword $(call POP_LIST,$(MAKEFILE_LIST)))
include $(GUARD)
INCLUDING_MAKEFILE	=$(ORIG_INCLUDING_MAKEFILE)

##############################################################################
# Set PRJ, after END_GUARD THIS_MAKEFILE == Including Makefile
#PRJ			:=$(patsubst %.mk,%,$(notdir $(THIS_MAKEFILE)))

##############################################################################

# prg: install(prj)
$(THIS): install($(THIS))

$(foreach STAGE,$(STAGES),\
	$(eval $(STAGE)_$(THIS)=$$(BUILD_DIR)/$(THIS).$(STAGE).log)\
)

##############################################################################
# vim: set syntax=make:
