##############################################################################
# Project Template
##############################################################################
include $(GUARD)
include $(END_GUARD)

##############################################################################
# Set PRJ, after END_GUARD THIS_MAKEFILE == Including Makefile
PRJ			:=$(patsubst %.mk,%,$(notdir $(THIS_MAKEFILE)))

##############################################################################

# prg: install(prj)
$(PRJ): install($(PRJ))

$(foreach STAGE,$(STAGES),\
	$(eval $(STAGE)_$(PRJ)=$$(BUILD_DIR)/$(STAGE).$(PRJ).log)\
)

##############################################################################
# vim: set syntax=make:
