##############################################################################
# End Stage Template
##############################################################################
# 'stage' will call 'stage(X)' where X in Projects
.PHONY: $(this)

.SECONDARY: $(this)(%)
$(this)(%): $($(this)_STAGE) ;

$(foreach prj,$(prjs),\
	$(eval $(this): $(this)($(prj)))\
	$(eval $(this)($(prj)): stage:=$(this))\
	$(eval $(this)($(prj)): prj:=$(prj))\
	$(eval $(this)($(prj)): this=$$(stage))\
)

$($(this)_STAGE): $$($(this)_DEP) | $$($(this)_ORDER_DEP) $$(@D)
	{
		trap "mv '$(@)' '$(@).err'" ERR ;
		cd '$($(this)_PATH)' ;
		$($(this)_CMD_SEQ) ;
	} |& tee '$(@)'
	exit $${PIPESTATUS[0]}

##############################################################################
$(end_guard)
##############################################################################
# vim: set syntax=make:
