##############################################################################
# End Stage Template
##############################################################################
# 'stage' will call each 'stage(X)' where X in Projects
.PHONY: $(this)
$(this): $(this)($(prjs))

.SECONDARY: $(this)($(prjs))
$(this)($(prjs)): $$($(this)_LOG)

# Record action in $(this)_LOG
$($(this)_LOG): | $$(@D) $$($(this)_PATH)
	$($(STAGE)_CMD_SEQ)

# mkdir $(this)_PATH
.PRECIOUS: $($(this)_PATH)
$($(this)_PATH): | $$(@D)
	mkdir -vp '$(@)'
##############################################################################
$(end_guard)
##############################################################################
# vim: set syntax=make:
