##############################################################################
# Stage Template
##############################################################################
IncludingMakefile:=$(IncludingMakefile)
include $(guard)
IncludingMakefile=$(OrigIncludingMakefile)
##############################################################################
# Create Command Sequence

# CMD = $(ENV) $(PROG) $(ARG) $(REDIR)
$(this)_CMD_PRE		 =
$(this)_CMD		 =$($(this)_ENV_SEQ)
$(this)_CMD		+=$($(this)_PROG_SEQ)
$(this)_CMD		+=$($(this)_ARG_SEQ)
$(this)_CMD		+=$($(this)_REDIR_SEQ)
$(this)_CMD_POST	 =

# CMD_SEQ = $(CMD_PRE) $(CMD) $(CMD_POST)
$(this)_CMD_SEQ		 =$($(this)_CMD_PRE)
$(this)_CMD_SEQ		+=$($(this)_CMD)
$(this)_CMD_SEQ		+=$($(this)_CMD_POST)

$(this)_ENV_PRE		 =
$(this)_ENV		 =
$(this)_ENV_POST	 =
$(this)_ENV_SEQ		 =$($(this)_ENV_PRE)
$(this)_ENV_SEQ		+=$($(this)_ENV)
$(this)_ENV_SEQ		+=$($(this)_ENV_POST)

$(this)_PROG_PRE	 =
$(this)_PROG		 =
$(this)_PROG_POST	 =
$(this)_PROG_SEQ	 =$($(this)_PROG_PRE)
$(this)_PROG_SEQ	+=$($(this)_PROG)
$(this)_PROG_SEQ	+=$($(this)_PROG_POST)

$(this)_ARG_PRE		 =
$(this)_ARG		 =
$(this)_ARG_POST	 =
$(this)_ARG_SEQ		 =$($(this)_ARG_PRE)
$(this)_ARG_SEQ		+=$($(this)_ARG)
$(this)_ARG_SEQ		+=$($(this)_ARG_POST)

$(this)_REDIR_PRE	 =
$(this)_REDIR		 =
$(this)_REDIR_POST	 =
$(this)_REDIR_SEQ	 =$($(this)_REDIR_PRE)
$(this)_REDIR_SEQ	+=$($(this)_REDIR)
$(this)_REDIR_SEQ	+=$($(this)_REDIR_POST)

$(this)_STAGE		=$(tmp_PATH)/%.$(this).log

$(this)_PREREQ		=

$(this)_DEP		?=
$(this)_ORDER_DEP	?=

##############################################################################
# vim: set syntax=make:
