##############################################################################
# Stage Template
##############################################################################

INCLUDING_MAKEFILE	:=$(lastword $(call POP_LIST,$(MAKEFILE_LIST)))
include $(GUARD)
INCLUDING_MAKEFILE	=$(ORIG_INCLUDING_MAKEFILE)

##############################################################################
# Set STAGE, after END_GUARD THIS_MAKEFILE == Including Makefile
#STAGE			:=$(patsubst %.mk,%,$(notdir $(THIS_MAKEFILE)))

##############################################################################
# Create Command Sequence

# CMD = $(ENV) $(PROG) $(ARG) $(REDIR)
$(THIS)_CMD_PRE	 =
$(THIS)_CMD		 =$($(THIS)_ENV_SEQ)
$(THIS)_CMD		+=$($(THIS)_PROG_SEQ)
$(THIS)_CMD		+=$($(THIS)_ARG_SEQ)
$(THIS)_CMD		+=$($(THIS)_REDIR_SEQ)
$(THIS)_CMD_POST	 =

# CMD_SEQ = $(CMD_PRE) $(CMD) $(CMD_POST)
$(THIS)_CMD_SEQ	 =$($(THIS)_CMD_PRE)
$(THIS)_CMD_SEQ	+=$($(THIS)_CMD)
$(THIS)_CMD_SEQ	+=$($(THIS)_CMD_POST)

$(THIS)_ENV_PRE	 =
$(THIS)_ENV		 =
$(THIS)_ENV_POST	 =
$(THIS)_ENV_SEQ	 =$($(THIS)_ENV_PRE)
$(THIS)_ENV_SEQ	+=$($(THIS)_ENV)
$(THIS)_ENV_SEQ	+=$($(THIS)_ENV_POST)

$(THIS)_PROG_PRE	 =
$(THIS)_PROG		 =
$(THIS)_PROG_POST	 =
$(THIS)_PROG_SEQ	 =$($(THIS)_PROG_PRE)
$(THIS)_PROG_SEQ	+=$($(THIS)_PROG)
$(THIS)_PROG_SEQ	+=$($(THIS)_PROG_POST)

$(THIS)_ARG_PRE	 =
$(THIS)_ARG		 =
$(THIS)_ARG_POST	 =
$(THIS)_ARG_SEQ	 =$($(THIS)_ARG_PRE)
$(THIS)_ARG_SEQ	+=$($(THIS)_ARG)
$(THIS)_ARG_SEQ	+=$($(THIS)_ARG_POST)

$(THIS)_REDIR_PRE	 =
$(THIS)_REDIR		 =
$(THIS)_REDIR_POST	 =
$(THIS)_REDIR_SEQ	 =$($(THIS)_REDIR_PRE)
$(THIS)_REDIR_SEQ	+=$($(THIS)_REDIR)
$(THIS)_REDIR_SEQ	+=$($(THIS)_REDIR_POST)

$(THIS)_STAGE		=$(TMP_DIR)/%.$(THIS).log

##############################################################################
# vim: set syntax=make:
