##############################################################################
# Stage Template
##############################################################################

STAGE			=$(this)
PRJ			=%
$(this)_LOG		=$(tmp)/$(PRJ).$(STAGE).log
$(this)_PATH		=

# 'stage' will call each 'stage(X)' where X in Projects
.PHONY: $(this)
$(this): $(this)($(prjs))

# $(this)_PATH depends on parent dir
$($(this)_PATH): | $$(@D)

.SECONDARY: $(this)($(prjs))

$(this)_S_DEP		=
$(this)_S_ODEP		=$($(STAGE)_PATH)

$(this)($(prjs)):	STAGE:=$(this)
$(this)($(prjs)):	PRJ=$(or $(%),$(*))

# call all prerequisites of stage(prj) then call $(this)_LOG to do the work.
$(this)($(prjs)):	$$(DEP)
$(this)($(prjs)):	$$($$(PRJ)_P_DEP)
$(this)($(prjs)):	$$($$(STAGE)_S_DEP)
$(this)($(prjs)):	$$($$(STAGE)_$$(PRJ)_SP_DEP)
$(this)($(prjs)):	| $$(ODEP)
$(this)($(prjs)):	| $$($$(PRJ)_P_ODEP)
$(this)($(prjs)):	| $$($$(STAGE)_S_ODEP)
$(this)($(prjs)):	| $$($$(STAGE)_$$(PRJ)_SP_ODEP)
$(this)($(prjs)):	| $$($(this)_LOG)

#$(this)($(prjs)): $$ $$($(this)_DEP) | $$($(this)_ORDER) $$($(this)_LOG)

##############################################################################
# Create Command Sequence

define $(this)_CMD_PRE =
{
	trap "mv '$($(STAGE)_LOG)' '$($(STAGE)_LOG).err'" ERR ;
	set -x ;\
	cd '$($(STAGE)_PATH)' ;
endef

define $(this)_CMD_POST =
;
} 2>&1 | tee '$(@)' ; exit $${PIPESTATUS[0]}
endef

# CMD = $(ENV) $(PROG) $(ARG) $(REDIR)
$(this)_CMD		 =$($(STAGE)_REDIR_PRE)
$(this)_CMD		+=$($(STAGE)_ENV_SEQ)
$(this)_CMD		+=$($(STAGE)_PROG_SEQ)
$(this)_CMD		+=$($(STAGE)_ARG_SEQ)
$(this)_CMD		+=$($(STAGE)_REDIR_POST)

# CMD_SEQ = $(CMD_PRE) $(CMD) $(CMD_POST)
$(this)_CMD_SEQ		 =$($(STAGE)_CMD_PRE)
$(this)_CMD_SEQ		+=$($(STAGE)_CMD)
$(this)_CMD_SEQ		+=$($(STAGE)_CMD_POST)

$(this)_ENV_PRE		 =
$(this)_ENV		 =
$(this)_ENV_POST	 =
$(this)_ENV_SEQ		 =$($(STAGE)_ENV_PRE)
$(this)_ENV_SEQ		+=$($(STAGE)_ENV)
$(this)_ENV_SEQ		+=$($(STAGE)_ENV_POST)

$(this)_PROG_PRE	 =
$(this)_PROG		 =$(Nop)
$(this)_PROG_POST	 =
$(this)_PROG_SEQ	 =$($(STAGE)_PROG_PRE)
$(this)_PROG_SEQ	+=$($(STAGE)_PROG)
$(this)_PROG_SEQ	+=$($(STAGE)_PROG_POST)

$(this)_ARG_PRE		 =
$(this)_ARG		 =
$(this)_ARG_POST	 =
$(this)_ARG_SEQ		 =$($(STAGE)_ARG_PRE)
$(this)_ARG_SEQ		+=$($(STAGE)_ARG)
$(this)_ARG_SEQ		+=$($(STAGE)_ARG_POST)

$(this)_REDIR_PRE	 =
$(this)_REDIR_POST	 =
##############################################################################
# vim: set syntax=make:
